<div class="feature-block">
    <div class="feature-content">
        <h2 class="feature-title">Traditional Cuisine</h2>
        <p class="feature-text">
            Experience the authentic flavors of Tharu community with our traditional dishes prepared using age-old
            recipes and local ingredients.
        </p>
        <button href="#" class="btn-golden-md">View Menu</button>
    </div>
    <div class="feature-visual">
        <img src="Caurosal/img1.jpg" alt="cusines">
    </div>
</div>