/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
/* Order */
@layer reset, primeng;

.body-container {
  margin: 0px;
  width: 100%;
}

.ns-font {
  font-family: "sans-serif";
  color: #4b5563;
}

.p-font {
  font-family: "sans-serif";
  color: #4b5563;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
div,
small {
  font-family: "sans-serif";
  color: #4b5563;
}

.btn,
button {
  font-family: "sans-serif";
}


label {
  display: block;
}

.keep-margin {
  margin: 0px 10px;
}


.btn-default-style {
  color: white !important;
  background-color: #002F61 !important;
}

.btn-admin-action {
  color: white !important;
  background-color: #ab511e !important;
  min-width: 70px !important;
}


/* Body of login component (p-dialog)*/
::ng-deep .p-dialog-content,
::ng-deep .p-dialog-header {
  background-color: white;
}

/* Header of login component (p-dialog)  */
::ng-deep .p-dialog .p-dialog-header .p-dialog-title {
  font-family: "sans-serif";
  color: #4b5563;
}