<div class="footer">
    <div class="footer-container">
        <div class="footer-column">
            <h6>Contact</h6>
            <p><i class="pi pi-map-marker" style="font-size: 1rem"></i>&nbsp;Dhangadhi, Sudurpashchim Pradesh</p>
            <p><i class="pi pi-phone" style="font-size: 1rem"></i>&nbsp;+977-XXX-XXXXX</p>
            <p><i class="pi pi-envelope" style="font-size: 1rem"></i>&nbsp;info&#64;dahitanGhar.com</p>
        </div>
        <div class="footer-column">
            <h6>Follow Us</h6>
            <a href="#"><i class="pi pi-facebook" style="font-size: 1rem"></i>&nbsp;Facebook</a>
            <a href="#"><i class="pi pi-instagram" style="font-size: 1rem"></i>&nbsp;Instagram</a>
            <a href="#"><i class="pi pi-tiktok" style="font-size: 1rem"></i>&nbsp;Tiktok</a>
        </div>
        <div class="footer-column">
            <h6>Hours</h6>
            <p>Restaurant: 7 AM - 10 PM</p>
            <p>Lodge: 24/7</p>
            <p>Events: By appointment</p>
        </div>
        <div class="footer-column">
            <h6>Services</h6>
            <p><a href="#">Restaurant Menu</a></p>
            <p><a href="#">Room Booking</a></p>
            <p><a href="#">Event Planning</a></p>
        </div>
    </div>
</div>