<div class="main-layout">
    <header class="header">
        <a (click)="ToggleSidebar()" class="toggle-menu-bar">
            <i class="pi pi-bars"></i>
        </a>
        <div style="width: 100%;">
            <header-section></header-section>
        </div>
    </header>

    <nav class="menu" *ngIf="isSidebarVisible">
        <app-sidebar (OnClickNavigationAction)="ToggleSidebar()"></app-sidebar>
    </nav>
    <main class="main">
        <div style="width: 100%;">
            <router-outlet></router-outlet>
        </div>
    </main>

    <footer class="footer">
        <div>
            <span>This is footer</span>
        </div>
    </footer>
</div>