<div class="">
    <div class="card col-md-12">
        <div class="contain-card">
            <div class="d-flex justify-content-between" style="background-color: #F9FAFB;">
                <div class="col-sm header">
                    <h3>Logo</h3>
                </div>
                <div class="col-sm header d-flex justify-content-end">
                    <button class="border-0  user-d-button p-0 " style="background-color: #F9FAFB;">
                        <p-avatar icon="pi pi-user" styleClass="mr-2" size="xlarge" shape="circle" />
                        <span class="font-weight-bold" style="font-size: 16px;">
                            Login
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="nav">
        <app-nav-bar></app-nav-bar>
    </div>
</div>