<div class="contain-card">
    <div class="col-md-12 mt-2 mb-2">
        <p-iconField iconPosition="left">
            <p-inputIcon styleClass="pi pi-envelope" />
            <input type="text" pInputText placeholder="User Name"
                style="background-color: #111827; border: none; color: white;" />
        </p-iconField>
    </div>
    <div class="col-md-12 mt-4 mb-2">
        <p-iconField iconPosition="left">
            <p-inputIcon styleClass="pi pi-lock" />
            <input type="password" pInputText placeholder="password"
                style="background-color: #111827; border: none; color: white;" />
        </p-iconField>
    </div>
    <div class="col-md-12 mt-4 mb-2 d-flex justify-content-between">
        <div>
            <p-checkbox [binary]="true" inputId="binary" label="Remember Me" />
        </div>
        <div>
            <a href="" class="ank_forgotPass">
                Forgot password ?
            </a>
        </div>
    </div>
    <div class="col-md-12 mt-4 mb-2 d-flex flex-column align-items-center">
        <button type="button" class="btn btn-secondary w-50" (click)="LogIn()">Log In</button>
    </div>
</div>