<div class="contain-card">
    <div class="homepage-header">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat optio autem id praesentium illo illum, cum
        expedita, eveniet, ex ratione ipsa laborum vitae consequuntur excepturi numquam iure aspernatur quisquam
        corrupti.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate illo reprehenderit tempora nulla
        necessitatibus esse a alias repellendus, voluptatem, maxime assumenda aliquid quam dignissimos facilis,
        doloribus soluta labore cum magni.
    </div>
</div>